html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}
* {
    box-sizing: border-box;
}
body {
    overflow: hidden;
    margin: 0;
    background: transparent;
}
canvas {
    display: block;
    border: none;
    outline: none;
}
#face {
    position: absolute;
    box-sizing: border-box;
    border-radius: 50%;
}
#clock {
    position: absolute;
    margin: 0;
    display: none;
    box-sizing: border-box;
    border: 5px solid red;
    border-radius: 50%;
    background: transparent;
    padding-top: 60px;
    text-align: center;
    font-size: x-large;
    cursor: pointer;
}

#clock > div {
    padding-top: 10px;
    font-size: xx-large;
    font-weight: bold;
}

#grab {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 35px;
    right: 35px;
}

#grab {
}

svg {
    width: 30px;
    height: 30px;
    z-index: -1;
    fill: #ddd;
}

.reset {
    cursor: pointer;
    color: red;
    font-size: large;
    text-align: center;
    padding-top: 0;
}

#version {
    position: fixed;
    bottom: 2px;
    right: 4px;
    font-size: 10px;
    color: white;
}

body:hover svg {
    fill: black;
}

#grab:hover svg {
    fill: red;
}
