html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: transparent;
}
body {
    overflow: hidden;
    margin: 0;
    background: transparent;
    -webkit-app-region: drag;
}
canvas {
    display: block;
}
#face {
    position: absolute;
    box-sizing: border-box;
    border-radius: 50%;
}
#clock {
    position: absolute;
    margin: 0;
    display: none;
    box-sizing: border-box;
    border: 5px solid red;
    border-radius: 50%;
    background: #ffff00cc;
    padding-top: 80px;
    text-align: center;
    font-size: x-large;
}

#clock > div {
    padding-top: 10px;
    font-size: xx-large;
    font-weight: bold;
}

#grab {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 35px;
    right: 35px;
}

#grab {
    -webkit-app-region: drag;
}

svg {
    width: 30px;
    height: 30px;
    z-index: -1;
    fill: #ddd;
}

body:hover svg {
    fill: black;
}

#grab:hover svg {
    fill: red;
}
